.signupBody
  %header.signupHeader
    %h1
      = link_to root_path do
        = image_tag 'logo.png'
    %nav.signupHeader__progressBar.signupHeader__bar
      %ol.clearfix
        %li.signupHeader__list.signupHeader__list--through
          会員情報
          .signupHeader__progressStatus
        %li.signupHeader__list.signupHeader__list--passed
          電話番号入力
          .signupHeader__progressStatus
        %li.signupHeader__list.signupHeader__list--passed
          お届け先住所入力
          .signupHeader__progressStatus
        %li.signupHeader__list.signupHeader__list--active
          完了
          .signupHeader__progressStatus

  %main.signupMain
  %section.signupMain__container
    %h2.signupMain__head.signupMain__head--registration
      会員登録完了
    .signupMain__inner.signupMain__inner--registrationForm
      .signupMain__content
        .signupMain__textCenter
          %p.signupMain__textW
            ありがとうございます。
          %br 
          %p.signupMain__textW
            登録が完了しました。
          = link_to root_path, class: 'signupMain__btnDefault signupMain__btnRed' do
            メルカリをはじめる

  = render 'signup/footer'