%header
  .headInner
    .headInner__Head
      .headInner__Head__title
        =link_to root_path do
          = image_tag "logo.png", size: "140x40"
      .headInner__Head__searchBox
        %input{type: "text",placeholder: "キーワードから探す",size:"100",class:"searchBox__input"}
        %button{type: "submit"}
          = icon('fa','search',class:"searchBox__icon")
          
    .headInner__Foot
      %ul.headInner__Foot__left
        .headInner__Foot__left__category
        カテゴリー
        .headInner__Foot__left__brand
        ブランド
      %ul.headInner__Foot__right
        .headInner__Foot__right__login
        ログイン
        .headInner__Foot__right__signUp
        新規会員登録
      
-# 未実装です
.main
.banner
.footer
