= render "shared/header"
%main
  .commonContents
    = render "shared/sub_block"
    .mainBlock
      .logout__container
        %p.logout__container-btn
          ログアウト
        
= render "shared/banner"
= render "shared/footer"