%main
  .commonContents
    = render "commom/sub_block"

    .mainBlock
      .myPage
        %h2.mainBlock__ttl
          マイページ
      .boughtItems
        %h2.mainBlock__ttl
          購入した商品
        .item_status
          %p.dealing
            取引中
          %p.delt
            過去の取引
        .dealing__contents
        -# = image_tag "logo.png"
        %p.dealing__contents-item_status
          取引中の商品はございません。
        .delt__contents
          -# = image_tag "logo.png"
          %p.dealing__contents-item_status
            過去に取引した商品はございません。
        