.main
  .main-logo
    = image_tag 'logo.png', alt: 'FURIMA', class: 'image__logo'

  .content1
    .content1-2
      .content1-2-1
        %label
          出品画像
      .content1-2-2
      .content1-2-3
        .content1-2-3-1