.commonContents{
  width: 1020px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.subBlock{
  width: 240px;
  margin-right: 40px;
  &__listTtl{
    line-height: 1;
    margin: 40px 0 8px;
    font-size: 16px;
  }
  &__list{
    position: relative;
    background: #fff;
    padding: 16px;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #f5f5f5;
    transition: all .4s;
    &:hover{
      background: var(--main-color);
      color: #fff;
    }
    &:hover i{
      right: 10px;
      color: #fff;
    }
  }
  i{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 13px;
    color: #ccc;
    transition: all .4s ease-in-out;
  }
}
.mainBlock{
  width: 700px;
}