:root {
  --main-color: #3CCACE;
}

.navi {
  padding: 15px 150px;
  box-shadow: 0 3px 3px 0px #DDDDDD;
  border-top: 1px solid #DDDDDD;

  ul {
    display: flex;
    font-size: small;

    li.navi__itemName {
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: #333333;
    }

    i {
      padding: 0 10px;
    }
  }
}

main.showItem {
  width: 100%;
  background-color: #f8f8f8;
  padding: 40px;

  .mainBox {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 30px 40px;

    &__itemName {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 20px ;
    }

    &__mainImage {
      text-align: center;

      img {
        width: 95%;
      }
    }

    ul.mainBox__imageBox{
      display: flex;
      justify-content: center;
      
      img {
        width: 150px;
        padding: 0 5px;
      }
    }

    &__priceBox{
      padding: 10px 0;

      h.mainBox__priceBox__itemPrice {
        font-size: 35px;
        font-weight: bolder;
      }
    }

    &__text {
      text-align: left;
      padding: 30px 0;
    }
    &__btn{
      font-size: 25px;
      margin: auto;
      width: 70%;
      color: white;
      .mainBox__editBtn, 
      .mainBox__destroyBtn,
      .mainBox__buyBtn{
        background-color: var(--main-color);
        margin: 7px 0;
        padding: 3px 0;
      }
      #overlay{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        z-index: 1;
      
      #modalWindow{
        width: 35%;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 9;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
        .modal-message-box {
          width: 100%;
          height: calc(100% - 60px);
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          color:#111111;
          font-size: 20px;
          p{
            font-weight: bold;
          }
        }
      
      #modal-close-btn {
        width: 100%;
        height: 60px;
        cursor: pointer;
      }
      #delete-comformation-btn {
        width: 100%;
        height: 60px;
        color:red;
        cursor: pointer;
      }
      button{
        font-size: 20px;
      }
      }
      .mainBox__soldBtn{
        background-color: hotpink;
        margin: 7px 0;
        padding: 3px 0;
      }
      a{
        text-decoration: none;
        color: white;
      }
    }

    table.mainTable {
      width: 100%;
      height: 400px;
      border-collapse: collapse;
      font-size: 13px;
      margin: auto;

      tr {
        border: solid 1px gray;
      }

      th {
        width: 30%;
        border: solid 1px gray;
        background-color:#f8f8f8;
        text-align: center;
        height: 25px;
      }

      td {
        text-align: left;
        padding-left: 10px;
      }

      a {
        text-decoration: none;
        color: #3CCACE;
      }
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      font-size: 15px;
    }

    ul {
      display: flex;
      padding: 5px 10px;
    }

    ul.favoritBtn {
      border: 2px solid orange;
      border-radius: 20px;
      color: var(--main-color);
    }

    ul.reportBtn {
      border: 1px solid;
    }

    i {
      padding-top: 2px;
    }

    li.text {
      padding-left: 3px;
    }
  }

  .commentBox {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 30px 40px;
    border-top: 10px solid #f8f8f8;

    .comment__form {
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
    }

    &__Info {
      margin: auto;
      background-color: #f8f8f8;
      text-align: left;
      font-size: 13px;
      padding: 8px;
      border-bottom: 20px solid white;

      &__Info__text {
       margin-left: 5px;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      background-color:  var(--main-color);
      border-radius: 20px;
      color: white;
      width: 50%;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      margin: auto;
      border: none;
    }

    i {
      padding: 15px 10px;
    }
  }

  ul.page {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0;

    i {
      color: var(--main-color);
    }

    a {
      text-decoration: none;
      color: var(--main-color);
    }
  }
}

#preview,#preview2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
  .img_view{
    width: calc(620px / 5);
    height: 120px;
  }
  .btn_wrapper{
    display: flex;
    justify-content: space-around;
  }
}
.dropzone-area2{
  display: none;
}
.input_area{
  display: none;
}
#previews{
  display: flex;
  margin-bottom: 20px;
  img{
    width: 124px;
    height: 124px;
    object-fit: cover;
  }
}
.img-container{
  text-align: center;
  color: #3CCACE;
}
.img-container-inner{
  text-align: center;
  width: 100%;
  span{
    margin-top: 10px;
    color: #3CCACE;
  }
}
.js-file_group{
  width: 100%;
  background-color: #dadada;
  margin-bottom: 10px;
  text-align: center;
  .imgUpload{
    width: 100%;
    display: block;
    padding: 20px;
    cursor: pointer;
    
  }

}
.img-add{
  padding: 20px;
}
.js-file_group-add{
  width: 100%;
  background-color: #dadada;
  display: block;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
}

.dropzone-container{
  
  .dropzone-area,.dropzone-area2{
    height: 100%;
  }
  .dropzone-1colum{
    display:flex;
  }
  .dropzone-2colum{
    display:flex;
  }
  .upload-btn{
    width: 50%;
    margin: 19px auto 0;
    text-align: center;
    background: #ddd;
    padding: 20px;
  }
  .img_view{
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  .delete{
    color: var(--main-color);
    margin: 5px 0;
  }
}