.signupBody {
  min-height: 100vh;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}
a {
  color: #0099e8;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: .7;
  }
}

.signupHeader{
  text-align: center;
  h1 {
    display: inline-block;
    margin: 11px 0 12px;
  }
  a {
    display: inline-block;
    width: 120px;
    height: 33px;
    margin-right: 8px;
    line-height: 33px;
  }
  img {
    width: 120px;
    height: 33px;
  }
  &__list {
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 40px;
    margin: 0 5% 0 0;
    font-size: 12px;
    color: #888;
    .signupHeader__progressStatus {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ccc;
      border-radius: 50%;
      &:before {
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
        right: 50%;
      }
      &:after{
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
        left: 50%;
      }
    }
    &--active {
      font-weight: 600;
      color: #3CCACE;
      .signupHeader__progressStatus {
        background: #3CCACE;
        &:before {
          background-color: #3CCACE;
        }
      }
    }
    &--through {
      .signupHeader__progressStatus {
        background: #3CCACE;
        &:after {
          background-color: #3CCACE;
        }
      }
    }
    &--passed {
      .signupHeader__progressStatus {
      background: #3CCACE;
        &:before {
          background-color: #3CCACE;
        }
        &:after {
          background-color: #3CCACE;
        }
      }
    }
  }
  &__progressBar {
    font-size: 0;
    text-align: center;
    ol {
      margin: 0;
    }
    li:first-child .signupHeader__progressStatus:before {
      display: none;
    }
    li:last-child .signupHeader__progressStatus:after {
      display: none;
    }
  }
  &__bar.signupHeader__progressBar {
    padding: 16px 0;
    border-top: 1px solid #eee;
  }
}

.signupMain {
  display: block;
  &__container {
    background: #fff;
  }
  &__head {
    padding: 24px 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
    &--registration {
      padding: 16px;
    }
  }
  &__inner {
    border-top: 1px solid #f5f5f5;
    padding: 40px;
    &--registration-form {
      padding: 24px 16px 40px;
      .signup-main__content {
        max-width: 343px;
      }
    }
  }
  &__content {
    max-width: 320px;
    margin: 0 auto;
    p {
      line-height: 1.5;
    }
  }
  &__errorText {
    color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
    li{
      margin-top: 8px;
    }
  }
  &__text1 {
    margin: 8px 0 0;
    color: #888;
    line-height: 1.5;
  }
  &__text2 {
    margin: 8px 0 0;
    padding: 0;
    font-size: 14px;
  }
  &__textCenter {
    text-align: center;
  }
  &__textRight {
    text-align: right;
  }
  &__textW {
    font-weight: 600;
    font-size: 20px;
  }
  &__subHead {
    font-size: 14px;
  }
  &__btnMail {
    color: #fff;
    background-color: #3CCACE;
    position: relative;
    .fa-envelope{
      color: #fff;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
      font-size: 16px;
    }
  }
  &__btnDefault {
    border-radius: 4px;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &__btnSns {
    position: relative;
    i {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
    }
    &--facebook {
      margin: 16px 0 0;
      background-color: #385185;
      color: #fff;
      .fa-facebook-square {
        color: #fff;
        background: #385185;
        font-size: 26px;
      }
    }
    &--google {
      margin: 16px 0 0;
      background-color: #fff;
      border: #979797 solid 1px;
      color: #333;
    }
  }
  &__btnRed {
    background: #3CCACE;
    border: 1px solid #3CCACE;
    color: #fff;
  }
  &__btnGry {
    background: gray;
    border: 1px solid gray;
    color: #fff;
    margin-top: 32px;
  }
  &__formGroup {
    margin: 40px 0 0;
    &:first-child {
      margin: 0;
    }
    label {
      font-weight: 600;
      display: inline-block;
    } 
    &--half {
      .field_with_erros {
        display: inline;
        &:last-of-type .signupMain__inputDefult--half {
          margin-right: 0;
        }
      }
    }
  }
  &__formRequire {
    background: #3CCACE;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  &__inputDefault {
    width: 100%;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    margin: 8px 0 0;
    &:focus {
      border-color: #3CCACE;
    }
    &--half {
      width: calc(50% - 6px);
      &:first-of-type {
        margin-right: 8px;
      }       
    }
  }
  &__birthdaySelectWrap {
    .signupMain__selectWrap {
      display: inline-block;
      width: calc(30% - 17px);
      &:first-of-type {
        width: calc(34% - 17px);
      }
      .fa-chevron-down{
        right: 12px;
      }
      select{
        padding: 0 10px;
      }
      &+span {
        margin: 0 2px;
      }
    }
    select {
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
    }
  }
  &__selectWrap {
    margin: 8px 0 0;
    position: relative;
    background: #fff;
    .fa-chevron-down{
      position: absolute;
      right: 16px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 8px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  &__selectBox {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: solid 1px rgb(204, 204, 204);
    outline: none;
    padding: 0 16px;
    margin-top: 16px;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: image-url("chevron-down-solid.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: right 20px center;
    background-color: white;
  }
}

.signupFooter {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 80px 0;
  text-align: center;
  
  ul {
    font-size: 0;
  }
  li {
    margin: 16px 0 0;
    font-size: 12px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    display: block;
    color: #333;
    text-decoration: none;
  }
  &__logo {
    width: 150px;
    height: 65px;
    margin: 40px auto 0;
    img {
      width: 150px;
      vertical-align: middle;
    }
  }
  p {
    margin: 8px 0 0;
  }
  small {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px){
  .signupHeader {
    height: 128px;
    h1 {
      margin-top: 40px;
    }
    a {
      width: 185px;
      height: 49px;
      line-height: 49px;
    }
    img {
      width: 185px;
      height: 49px;
    }
    &__progressBar {
      display: inline-block;
      vertical-align: top;
      li {
        margin-right: 40px;
        min-width: 60px;
      }
    }
    &__bar.signupHeader__progressBar {
      padding: 40px 0 0 44px;
      border: 0;
    }
  }

  .signupMain__container {
    width: 700px;
    margin: 0 auto;
  }
  .signupMain__head--registration {
    font-size: 22px;
    padding: 32px;
  }
  .signupMain__subHead {
    font-size: 16px;
    font-weight: 600;
  }
  .signupMain__birthdaySelectWrap {
    .signupMain__selectWrap {
      width: 76px;
      &:first-of-type {
        width: 76px;
      }
    }
  }

  .signupFooter {
    width: 456px;
    margin: 0 auto;
  }
  .signupFooter li {
    display: inline-block;
    margin: 0 0 0 16px;
  }
}

@media screen and (min-width: 1068px) {
  .signupMain__inner--registrationForm {
    padding: 40px 40px 64px;
  }
  .signupMain__btnRed {
    margin-top: 32px;
  }
  .signupMain__text--right {
    margin: 24px 0 0;
  }
}

